.impactContainer {
  text-align: center;
  margin: 2rem 0;
}

.impactTitle {
  font-weight: 700;
  font-size: 2rem;
  color: #4400ff;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #fff, 2px 2px 0px #ccc;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, rgba(0,123,255,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.impactGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.impactCard {
  background: #ffffff;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  position: relative;
}

.impactCard:hover {
  transform: scale(1.05);
  border-color: gold;
}

.icon {
  font-size: 3rem; /* Adjust size of emoji icon */
  margin-bottom: 1rem;
}

.value {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 0.5rem 0; /* Added margin for spacing */
}

.label {
  font-size: 1rem;
  color: #666;
}

.impactCard:hover .label, .impactCard:hover .value {
  color: rgb(172, 146, 0);
}
