.donationOptionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.donationCardContainer {
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.donationCard {
  background: rgba(20, 6, 146, 0.9);
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center; /* Center text inside the card */
}

  /* */
.donateButton:hover,
.donateButton:hover .text-md,
.donateButton:hover .text-2xl {
    background-color: gold;
    box-shadow: 0 6px rgba(44, 82, 130, 0.5);
    transform: translateY(-2px);
}
  
  .text-4xl {
    font-weight: bold; 
    color: #1a202c; 
    margin-bottom: 1rem; 
  }
  
  /* Card styles */
  .donationCard {
    background: rgba(20, 6, 146, 0.9); 
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .donationCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.2), 0 15px 15px -5px rgba(0, 0, 0, 0.05); 
  }
  
  .text-2xl {
    font-weight: bold; 
    color: #2d3748; 
    margin-bottom: 0.5rem; 
  }
  
  .text-md {
    color: #4a5568; 
    margin-bottom: 1rem; 
  }
  
  .donateButton {
    padding: 0.75rem 2rem;
    border-radius: 0.375rem;
    font-weight: 600;
    color: white;
    background-color: #2b6cb0;
    box-shadow: 0 4px rgba(43, 108, 176, 0.5); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
  }
  
  .donateButton:hover {
    background-color: #2c5282; 
    box-shadow: 0 6px rgba(44, 82, 130, 0.5); 
    transform: translateY(-2px); 
  }
  

  .bg-pink-500 {
    background-color: #ed64a6; 
    box-shadow: 0 4px rgba(237, 100, 166, 0.5); 
  }
  
  .bg-pink-500:hover {
    background-color: #d53f8c; 
    box-shadow: 0 6px rgba(213, 63, 140, 0.5); 
  }
  