
  
  .partnershipContainer {
    margin: 2.5rem auto;
    padding: 0 1rem;
  }
  
  .partnershipCard {
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform var(--transition-speed) ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .partnershipCard:hover {
    transform: scale(var(--card-hover-scale));
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  }
  
  .donateButton {
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: var(--text-light);
    background-color: var(--text-dark); 
    border: none; 
    transition: background-color var(--transition-speed) ease, transform var(--transition-speed) ease;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: auto; 
  }
  
  .donateButton:hover {
    background-color: rgb(37, 21, 0); /* Updated color to brown */
    transform: translateY(-0.25rem); 
  }
    